@import "tailwindcss";

@theme {
  --animate-push-in-bottom: push-in-bottom 0.4s ease-in-out;
  --animate-push-out-bottom: push-out-bottom 0.4s ease-in-out;
  --animate-push-in-right: push-in-right 0.4s ease-in-out;
  --animate-push-out-right: push-out-right 0.4s ease-in-out;
  @keyframes push-in-bottom {
    from {
      transform: translateY(85%);
    }
    to {
      transform: translateY(0);
    }
  }

  @keyframes push-out-bottom {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(100%);
    }
  }

  @keyframes push-in-right {
    from {
      transform: translateX(85%);
    }
    to {
      transform: translateX(0);
    }
  }

  @keyframes push-out-right {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(100%);
    }
  }
}

@layer base {
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"] {
    -webkit-appearance: none;
    margin: 0;
  }
}
